.DS_Store
.idea
venv
src/tradingDashboard/log.txt
src/tradingDashboard/__pycache__/*
tests/__pycache__/*
src/tradingDashboard/config.py
src/tradingDashboard/config_platform.json
src/tradingDashboard/Backtest.py
app2.py
src/tradingDashboard/Strategies3.py
__pycache__/
.env
test.py
test*.py

